.top-nav {
  // margin-left: $sideBarWidth;
  width: 100%;
  background-color: $menuBg;
  //opacity: 0.8;
  //background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  //box-shadow: #5a5e66;
  box-shadow: 0px 2px 2px -2px #bbbbbb;
  height: $topBarHeight;
  backdrop-filter: blur(6px);


  .log {
    padding: 0 20px;
    line-height: 70px;
    font-size: 24px;
    font-weight: bold;
    color: $menuText;
    float: left;
    margin-right: 20px;
  }
  //.iconpicture {
  //  padding:10% 0 10% 10%;
  //  *{
  //    vertical-align:middle
  //  }
  //}

  .el-menu {
    float: left;
    border: none !important;
    background-color: rgba(255, 255, 255, 0.7);
    //height: 70px;

    .nav-item {
      display: inline-block;

      .el-menu-item {
        //height: 70px;
        font-size: 16px !important;
        color:  $menuBg;


        &:hover {
          background-color: $subMenuHover !important;
        }

        &:focus {
          background-color: $subMenuHover !important;
          // color: $subMenuActiveText !important;
        }
      }
    }
  }

  .right-menu {
    float: right;
    height: 100%;
    top: 0;
    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 23px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
