// sidebar
$menuText: #0c0c0c;
//$menuActiveText:#409EFF;
$subMenuActiveText:#5e7de2; //https://github.com/ElemeFE/element/issues/12951

$menuBg: rgba(255, 255, 255, 0.7);
//$menuBg: #ffffff;
$menuHover: #fff5aa;

$subMenuBg:rgba(255, 255, 255, 0.7);;
$subMenuHover: rgba(255, 255, 255, 0.7);;

$menuActiveText: #5e7de2;

$sideMenuBg: #eeeeee;

$sideBarWidth: 1000px;



// 改的的地方start
$topBarHeight: 70px;
$contentHeight: calc(100vh - 70px);
// 改的的地方end

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
